
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .weatherdash{
    width: 80%;
    max-width: 1200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
  }
  
  
  .header {
    background-color: #007BFF; 
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
  }
  
  .header input[type="text"] {
    padding: 10px;
    width: 200px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
  }
  
  .header button {
    padding: 10px 20px;
    background-color: #dc3545; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .header button:hover {
    background-color: #c82333;
  }
  
  
  .city-selection {
    background-color: #d1ecf1; 
    padding: 20px;
    text-align: center;
  }
  
  .city-selection h2 {
    color: #0c5460; 
  }
  
  .city-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .city-btn {
    padding: 10px 20px;
    background-color: #6c757d; /* Gray */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .city-btn:hover {
    background-color: #5a6268;
  }
  
  /* Main Content Styles */
  main {
    padding: 20px;
  }
  
  /* Current Weather Styles */
  .current-weather {
    background-color: #d1ecf1; /* Light Blue */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  
  .current-weather h2 {
    color: #0c5460; /* Dark Blue */
  }
  
  
  .forecast {
    background-color: #e2e3e5; 
    padding: 20px;
    border-radius: 4px;
  }
  
  .forecast h2 {
    color: #343a40; 
  }
  .forecast-cards {
    display: flex;
    justify-content: space-between;
  }
  
  .forecast-card {
    background-color: #f8f9fa; 
    padding: 10px;
    border-radius: 4px;
    width: 18%;
    text-align: center;
  }
  
  .forecast-card h3 {
    color: #495057; 
  }

  .forecastCard{
    background-color: #f8f9fa; 
    padding: 10px;
    border-radius: 4px;
    width: 18%;
    text-align: center;

  }
  
  .btn-btn-danger{
    margin-top: 20px;

  }
  
  
  
  .currentCard {
    background-color: #f8f9fa;
    border-color: #007BFF;
    padding: 25px;
    border-radius: 10px; /* Adjust the value to make the corners more or less rounded */
}
